/* Shantanu Gautam iOS Flip. */

body, html {
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body:hover {
	-webkit-transition: all 0.3s ease;
	opacity: 1 !important;
}

@-webkit-keyframes notification{
	0%   { opacity: .4;   -webkit-transform: translateZ( -30px ) rotateX(  90deg );}
	100% { opacity: 1;  -webkit-transform: translateZ( -30px ) rotateY(    0deg )}
}


@-webkit-keyframes other {
	0%   { -webkit-transform: translate3d( 20px, 0, 0 ); }
	100% { -webkit-transform: translate3d( 0, 0, 0 ); }
}

@-webkit-keyframes icon {
	0%   { opacity: 0; -webkit-transform: translate3d( 0, 5px, 0 ); }
	100% { opacity: 1; -webkit-transform: translate3d( 0, 0, 0 ); }
}


.container {width: 300px;height: 60px;position: relative;-webkit-perspective: 1800;top:-25px;}
#cube {width: 100%;height: 100%;position: absolute;-webkit-transform-style: preserve-3d;-webkit-animation: notification .7s ease;}
#cube figure {display: block;position: absolute;
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
}

#cube .front,#cube .back {width: 300px;height: 60px;}
#cube .right,#cube .left {width: 60px;height: 60px;left: 120px;}
#cube .top,#cube .bottom {width: 300px; height: 60px;top: 0px;}
#cube .front{ -webkit-transform: rotateY(   0deg ) translateZ(  30px ); }
#cube .back{ -webkit-transform: rotateX( 180deg ) translateZ(  30px ); }
#cube .right{ -webkit-transform: rotateY(  90deg ) translateZ( 150px ); }
#cube .left{ -webkit-transform: rotateY( -90deg ) translateZ( 150px ); }
#cube .top{ -webkit-transform: rotateX(  90deg ) translateZ( 30px ); }
#cube .bottom{ -webkit-transform: rotateX( -90deg ) translateZ( 30px ); }


.border {border-radius: 0px;padding: 9px 9px 10px 65px;-webkit-box-sizing: border-box;max-height: 54px;clear: both;overflow: hidden;}

.divider {position: absolute;top: 0px;left: 1px;bottom: 0px;width: 54px;
	border-right: 1px solid rgba(255,255,255,0.1);
	-webkit-box-shadow: inset -1px 0px 0px rgba(0,0,0,0.6);
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	-webkit-animation: other 0.4s ease;
}

img {background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
	-webkit-box-shadow: inset 2px 1px 0px rgba(220,110,50,0.8);
	position: absolute;
	display: block;
	height: 34px;
	width: 34px;
	top: 10px;
	left: 10px;
	border-radius: 3px;
	-webkit-animation: icon 0.8s ease;
}

h1,p {


	margin: 0; padding-right:10px;
	clear: both;
	overflow: hidden;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
	-webkit-font-smoothing: subpixel-antialiased;
}
#textcon{
	width:80%;
	margin-right:0px;
	overflow:hidden;
	max-height:50px;
	margin-top:0px;
	margin-bottom:10px;
}
h1 {
	color: rgba(179,190,173,1);
	line-height: 14px;
	font-size: 10pt;
	margin: 0 0 2px 0;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
	overflow: hidden;
}

p {	margin-top:4px;
	line-height: 12px;
	-webkit-animation: other 0.8s ease;
	font-family: Lucida Grande, sans-serif;
	font-size: 8pt;
	color: #CCCCCC;
	overflow: hidden;
	padding-bottom:6px;
}
#text{height:58px;overflow:hidden;}